<%- include('../header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Medico</title>
    <link rel="stylesheet" href="../css/estilos1.css">

</head>
<body>
    <main>
        
        <div class="titulo">Historial Medico</div>
        <div class="busqueda">
            <div>
                <label for="buscar">Buscar paciente</label>
                <input type="text" id="buscar" placeholder="Nombre, cédula, email...">
            </div>
            <div>
                <label for="buscar">Buscar patologia</label>
                <input type="text" id="buscar" placeholder="Buscar Patologia">
            </div>
        </div>

        <div class="tabla-section">
            <div class="tabla-titulo">Historial medico registrado</div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cédula</th>
                    </tr>
                </thead>
                <tbody id="tabla-historialmedico">
                    <% historiales.forEach(historial => { %>
                    <tr>
                        <td><%= historial.Nombres %></td>
                        <td><%= historial.Apellidos %></td>
                        <td><%= historial.Cedula %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <button class="nuevo-paciente" style="margin-left:20px;" onclick="window.location.href= '/registrarhistorial'">Nuevo Historial Medico</button>
            <button class="editar-paciente" style="margin-left:20px;">Actualizar Historial Medico</button>
        </div>
    </main>
    <script>
        document.getElementById('buscar').addEventListener('input', function() {
            const filtro = this.value.toLowerCase();
            const filas = document.querySelectorAll('#tabla-historialmedico tr');
            filas.forEach(fila => {
                const textoFila = fila.textContent.toLowerCase();
                fila.style.display = textoFila.includes(filtro) ? '' : 'none';
            });
        });
    </script>
</body>
</html>