<header class="header">
    <div class="logo">
        <img src="/images/logo sin fondo 1.png" alt="MediTech" height="50" class="logo-img">
        <span>MediTech</span>
    </div>
    <nav>
        <a href="/doctores">Doctores</a>
        <a href="#">Personal Obrero</a>
        <a href="/pacientes">Pacientes</a>
        <a href="/citas">Agenda</a>
        <a href="#">Ingresos</a>
        <a href="#">Reportes</a>
        <a href="#">Historial Medico</a>
    </nav>
    <div class="perfil">
        <img src="/images/usuario x.jpg" alt="Perfil" class="avatar">
    </div>
</header>
