<header class="header">
    <link rel="stylesheet" href="/css/estilos1.css">
    <div class="logo">
        <img src="/images/logo sin fondo 1.png" alt="MediTech" height="50" class="logo-img">
        <a href="/home">MediTech</a>
    </div>
    <nav>
        <a href="/doctores">Doctores</a>
        <a href="/obreros">Personal</a>
        <a href="/pacientes">Pacientes</a>
        <a href="/agendas">Agenda</a>
        <a href="#">Ingresos</a>
        <a href="#">Reportes</a>
        <a href="#">Historial Medico</a>
    </nav>
    <div class="perfil">
        <img src="/images/usuario x.jpg" alt="Perfil" class="avatar">
    </div>
</header>
