<%- include('header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctores | MediTech</title>
    <link rel="stylesheet" href="/css/doctores.css">
</head>
<body>
   
<img src="https://tenor.com/view/fish-spinning-gif-26136221" alt="fish" class="twerk-gif" style="display:block; margin-left:auto; margin-right:auto;">
<div class="tenor-gif-embed" data-postid="26136221" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/fish-spinning-gif-26136221">Fish Spinning GIF</a>from <a href="https://tenor.com/search/fish+spinning-gifs">Fish Spinning GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>