<%- include('header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctores | MediTech</title>
    <link rel="stylesheet" href="/css/doctores.css">
</head>
<body>
   
<img src="https://media1.tenor.com/m/jUMex_rdqPwAAAAd/among-us-twerk.gif" alt="Among Us Twerk" class="twerk-gif" style="display:block; margin-left:auto; margin-right:auto;">

</body>
</html>