<!DOCTYPE html>
<html lang="es"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediTech - Gestión Clínica</title> 
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="contenedor">
        <header>
            <img src="images/Logo.jpeg" alt="Logo de MediTech" class="logo">
            <div class="site-title">MediTech</div> </header>
        </header>
    </div>

    <main>
        <h1>Bienvenido a MediTech</h1>
        <h3>Gestión clínica inteligente, resultados eficientes</h3>
        
        <div class="button-container">
            <a href="/login" class="button-link">Iniciar Sesión</a>
            <a href="/register" class="button-link">Crear Cuenta</a>
        </div>
    </main>

    <footer> UNERG 2025
    </footer>
</body>
</html